/*
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height:1.2em;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height:100%;
}

/* BEGIN */
body {
  font-size:14px;
  font-family: "Corbel","Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans","Bitstream Vera Sans","Liberation Sans","Verdana",sans-serif;
  background-color:#eee;
}
textarea {
  font-size:12px;
  font-family:monospace;
  border:1px solid #ddd;
  border-top-color:#aaa;
  border-radius:2px;
  margin:0;
}
  textarea:hover {
    border-color:#7DBEF1;
    border-top-color:#48A4EA;
  }
  
a {
  color:#0284FF;
  text-decoration:none;
}

h2 {
  margin:30px 0 5px 0;
  font-size:1.5em;
  text-shadow:1px 1px 1px #fff;
}

pre {
  position:relative;
  padding:10px;
  margin:4px 0;
  border:1px solid #222;
  box-shadow:inset 0 0 10px #000;
  color:#e1e0e5;
  background-color:#2a2b2f;
  font-size:12px;
  font-family:monospace;
  overflow:hidden;
}
pre.html:after {
  content:"HTML";
}
pre.js:after {
  content:"JS";
}
pre.css:after {
  content:"CSS";
}
pre:after {
  position:absolute;
  top:2px;
  right:2px;
  font-family: "Corbel",sans-serif;
  font-weight:bold;
  color:#eee;
  text-shadow:0 0 3px #eee;
}

dl {
  margin:20px 0;
}
dt {
  font-weight:bold;
  text-shadow:1px 1px 1px #fff;
}
dd {
  margin:0 0 15px 30px;
}

ul.cb {
  margin-left:20px;
}
  ul.cb li {
    list-style:disc;
    padding-left:5px;
  }

/* wrappers */
#the_header {
  position:fixed;
  top:0;
  height:30px;
  width:100%;
  z-index:1000;
  padding:30px;
  font-size:30px;
  line-height:30px;
  color:#eee;
  text-align:center;
  border-bottom:1px solid #bbb;
  box-shadow:0 0 10px #000;
  text-shadow:1px 1px 1px #000;
  font-style:italic;
  
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top,  #000000 0%, #45484d 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  #000000 0%,#45484d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #000000 0%,#45484d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #000000 0%,#45484d 100%); /* IE10+ */
  background: linear-gradient(top,  #000000 0%,#45484d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */
}

#the_page {
  width:700px;
  margin:130px auto 30px auto;
}

#the_footer {
  height:15px;
  padding:5px;
  text-align:center;
  font-size:12px;
  color:#eee;
  border-top:1px solid #bbb;
  box-shadow:0 0 10px #000;
  font-style:italic;
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top,  #000000 0%, #45484d 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  #000000 0%,#45484d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #000000 0%,#45484d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #000000 0%,#45484d 100%); /* IE10+ */
  background: linear-gradient(top,  #000000 0%,#45484d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=0 ); /* IE6-9 */
}

#social {
  position:fixed;
  top:10px;
  left:50%;
  width:120px;
  margin-left:300px;
  font-size:10px;
  text-align:left;
}
  #social li {
    height:25px;
  }
  
#menu {
  margin-top:10px;
  font-size:15px;
  margin-left:-30px;
}

#downloadContainer {
  float:right;
  text-align:center;
  width:150px;
  margin:0 50px 0 0;
}
#download {
  display:block;
  width:150px;
  padding:10px 10px 15px 10px;
  margin-bottom:10px;
  border-radius:10px;
  border:1px solid #3E9102;
  box-shadow:inset 0 0 1px #fff;
  text-shadow:1px 1px 1px #555;
  color:#fff;
  
  background: #62ad0d; /* Old browsers */
  background: -moz-linear-gradient(top,  #62ad0d 0%, #299a0b 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  #62ad0d 0%,#299a0b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #62ad0d 0%,#299a0b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #62ad0d 0%,#299a0b 100%); /* IE10+ */
  background: linear-gradient(top,  #62ad0d 0%,#299a0b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62ad0d', endColorstr='#299a0b',GradientType=0 ); /* IE6-9 */

}
  #download span {
    font-weight:bold;
    font-size:2em;
  }
  #download:hover {
    box-shadow:inset 0 0 10px #444;
  }
  #download:active {
    box-shadow:inset 0 0 10px #ddd;
  }
  
.important {
  color:#f22;
}

.anchor {
  position:relative;
  top:-70px;
}

.changelog ul {
  list-style: disc;
}